<ul>
  <form {{action "save" on="submit"}}>
    <h2>{{errorMessage}}</h2>
    <li>{{input placeholder="Title" value=model.title}}</li>
    <li>{{input placeholder="Description" value=model.description}}</li>
    <li>{{input placeholder="URL" value=model.url}}</li>
    <li><input type="submit" value="Save" class="button"/>
<button {{action "cancel"}}>Cancel</button></li>
  </form>
</ul>
