<div class="panel">
  <h4>{{model.title}}({{model.url}})</h4>
  <p>{{model.description}}</p>
  <p>{{link-to "edit" "posts.edit" model}}
</div>

<h5>Comments:</h5>
<ul>
  {{outlet}}
  {{#each comments}}
    <li>{{body}}</li>
  {{/each}}
</ul>
